# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.env

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# macOS
.DS_Store

# Word lock files
~$*.docx
